@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards{
  cursor: pointer;
  background-image: linear-gradient(to right, #c9d8ff 15%, #110776 85%);
  background-size: 250%;
  transition: all 0.5s;
  background-repeat: no-repeat;
}
.cards:hover{
  background-size: 120%;
}